
button {
    all: unset; /* to override system styles */
    background-image: none;
    border-radius: 0;
    border: 0px;
}

#black {
    background-color: rgb(109, 154, 184);
}

#black:active {
    background-color: rgb(109, 154, 184);
}

#white {
    background-color: rgb(196, 196, 196);
}

#white:active {
    background-color: rgb(196, 196, 196);
}