
button {
    all: unset; /* to override system styles */
    background-image: none;
    border-radius: 0;
    border: 0px;
}

#black {
    background-color: rgb(109, 154, 184);
}

#white {
    background-color: rgb(196, 196, 196);
}

#whiteSelected {
    background-color: rgb(137, 202, 175);
}

#blackSelected {
    background-color: rgb(96, 158, 132);
}