
button {
    all: unset; /* to override system styles */
    background-image: none;
    border-radius: 0;
    border: 0px;
}

#black {
    background-color: rgb(109, 154, 184);
}

#white {
    background-color: rgb(196, 196, 196);
}

#whiteSelected {
    background-color: rgb(137, 202, 175);
}

#blackSelected {
    background-color: rgb(96, 158, 132);
}

#menuLayout {
    background-color: rgb(96, 158, 132);
}

#menu {
    background-color: rgb(109, 154, 184);
    border: 5px solid black;
    margin: 5px;
}

#newGame {
    color: black;
    font-size: 200%;
}

#title {
    font-weight: bold;
    color: black;
    font-size: 400%;
}

#infoWhite {
    font-weight: bold;
    color: white;
    font-size: 400%;
}

#whiteCheck {
    background-color: rgb(204, 49, 49);
}

#blackCheck {
    background-color: rgb(133, 27, 27);
}